*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arimo', sans-serif;
    width: auto;
    height: auto;
}
.game{
    height: 100%;
    width: 100%;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752 , #E73C7E , #23A6D5,#23D5AB);
    background-size: 400%, 400%;
    position: relative;
    animation : animation 10s ease-in-out infinite;
}

@keyframes animation{
    0%{
        background-position:0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    0%{
        background-position:0 50%;
    }
}
.score{
 height: 20%;
 display: flex;
 justify-content: space-around;
 align-items: center;
 text-align: center;
}
.score div{
    border: 3px solid #fff;
    padding: 20px;
    width: 200px;
}
.score p{
    margin: 10px;
}
.intro{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5%; 
    border: none;
    justify-content: space-around;
}
.intro h1{
    font-size: 70px;
}
.btn-play{
    height: 50px;
    width: 150px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px;
    transition: 0.5s;
    opacity: 0.9;
    border-radius: 40px;
    background: linear-gradient(-45deg, #EE7752 , #E73C7E , #23A6D5,#23D5AB);
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    background-size: 400%, 400%;

    background-position:40% 50%;
}
.options button:hover, .intro button:hover {
    height: 60px;
    width: 160px;
    box-shadow: 0 0 50px #1f292c;
    background-position: 100% 50% ;                  
    font-size: 30px;
    color: #fff;
    letter-spacing: 3px;
    border-radius: 0px;
}

.match{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 30%;
    width: 100%;
}
.hand, .options{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.winner{
    text-align: center;
    font-size: 45px;

}
.options button{
    height: 50px;
    width: 120px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px;
    transition: 0.5s;
    opacity: 0.9;
    border-radius: 40px;
    background: linear-gradient(-45deg, #EE7752 , #E73C7E , #23A6D5,#23D5AB);
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    background-size: 400%, 400%;

    background-position:40% 50%;
}
.player-hand{
    transform: rotateY(180deg);
}
div.fadeOut{
    opacity: 0;
    pointer-events: none;
}
div.fadeIn{
    opacity: 1;
    pointer-events: all;
}
@media screen and (max-width: 636px){
    .game{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 582px){
    
    .game{
        width: 100%;
        height: 100%;
    }
    .score{
        width: 100%;
        height:30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

 


}